.herosection{
    height: 100%;
    width: 100%;
}
#img-courses{
    height: 780px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0.2)), url('img/bg-courses.jpg');
}

.container{
    font-family: 'Rubik', sans-serif;
    opacity: 0.8;
    position: absolute;
    top: 200px;
    right: 100px;
    width: 800px;
    /* border: 1px solid red; */
}
.container .judul{
    height: max-content;
    width: max-content;
    color: #fff;
    /* border: 1px solid white; */
}
.container h1{
   height: 150px;
    color: #fff;
    /* border: 1px solid white; */
}
.container div{
    /* text-align: center; */
    line-height: 200px;
    justify-content: center;
    display: flex;
    
    font-size: 30px;
    width: 800px;
    height: 200px;
    /* border: 1px solid red; */
}
.kotak1{
    background-color: yellow;
    width: max-content;
    background-image: url('img/js.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    /* border: 1px solid red; */
}
.kotak2{
    background-color: indigo;
    width: max-content;
    background-image: url('img/php.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    /* border: 1px solid red; */
}
.kotak3{
    background-color: #fff;
    width: max-content;
    background-image: url('img/ts.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    /* border: 1px solid red; */
}
.kotak4{
    background-color: #fff;
    width: max-content;
    background-image: url('img/myql.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    /* border: 1px solid red; */
}

.card {
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
.card1 .content{
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}
.card1 .content .img .gambar1{
    background-image: url('img/java.png');
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
.card1 .content .img .gambar2{
    background-image: url('img/ts.png');
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
.card1 .content .img .gambar3{
    background-image: url('img/myql.png');
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
.card1 .content .img .gambar4{
    background-image: url('img/js.png');
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
.card1 .content .text {
    /* border: 1px solid black; */
    background-color: #fff;
    padding: 6px;
}
.card1 .content .text h1 {
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    font-size: 30px;
    color: green;
}
.card1 .content .text p {
    text-align: center;
    color: rgb(64, 64, 65);
}
.card1 {
    padding: 5px;
}
#tumbnail-title{
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    color: #000;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}


/* .tumbnail{
    border: 2px solid black;
    display: flex;
    /* flex-wrap: wrap; */
    /* background-color: rgb(197, 197, 197);
    height: 300px;
}
.tumbnail div{
    height: 200px;
    width: 200px;
    display: flex;
    margin: auto;
}
.card{
    border: 1px solid black;
} */ 
/* .tumbnail .card{
    height: 220px;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
} */
/* .card #img1{
    border-radius: 10px;
    position: relative;
    height: 190px;
    width: 200px;
    background-image: url('img/js.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.card #img2{
    border-radius: 10px;
    position: relative;
    width: 200px;
    height: 190px;
    background-position: -50px 0;
    background-image: url('img/java.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.card #img3{
    border-radius: 10px;
    width: 200px;
    height: 190px;
    background-image: url('img/ts.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.card #img4{
    border-bottom: 1px solid #000;
    border-radius: 10px;
    width: 200px;
    height: 190px;
    background-image: url('img/myql.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.tumbnail h3{
    border-top: 1px solid #000;
    font-family: 'Rubik', sans-serif;
    text-align: center;  
    font-size: 20px;
    margin-top: 10px; 
}

 */
